projeto/WebContent/wsdl/LocalizarProdutos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.client.ejb.negocio.vendas.exemplo.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.client.ejb.negocio.vendas.exemplo.com.br" xmlns:intf="http://webservices.client.ejb.negocio.vendas.exemplo.com.br" xmlns:tns1="http://vo.model.negocio.vendas.exemplo.com.br" xmlns:tns2="http://exception.util.vendas.exemplo.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.client.ejb.negocio.vendas.exemplo.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://vo.model.negocio.vendas.exemplo.com.br"/>
   <import namespace="http://exception.util.vendas.exemplo.com.br"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000">
    <complexType/>
   </element>
   <element name="localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000Response">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000Return" type="tns1:ProdutoVO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="fault" type="tns2:LayerException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://vo.model.negocio.vendas.exemplo.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.util.vendas.exemplo.com.br"/>
   <import namespace="http://webservices.client.ejb.negocio.vendas.exemplo.com.br"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="ProdutoVO">
    <sequence>
     <element name="codigo" nillable="true" type="xsd:long"/>
     <element name="descricao" nillable="true" type="xsd:string"/>
     <element name="estoque" nillable="true" type="xsd:string"/>
     <element name="preco" nillable="true" type="xsd:decimal"/>
     <element name="quantidadeEstoque" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://vo.model.negocio.vendas.exemplo.com.br"/>
   <import namespace="http://exception.util.vendas.exemplo.com.br"/>
   <import namespace="http://webservices.client.ejb.negocio.vendas.exemplo.com.br"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exception.util.vendas.exemplo.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://vo.model.negocio.vendas.exemplo.com.br"/>
   <import namespace="http://webservices.client.ejb.negocio.vendas.exemplo.com.br"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="MsgExceptionList">
    <sequence>
     <element name="msgException" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
   <complexType abstract="true" name="LayerException">
    <sequence>
     <element name="msgExceptionList" nillable="true" type="tns2:MsgExceptionList"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="LayerException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000Request">

      <wsdl:part element="impl:localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000Response">

      <wsdl:part element="impl:localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LocalizarProdutos">

      <wsdl:operation name="localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000">

         <wsdl:input message="impl:localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000Request" name="localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000Request">

       </wsdl:input>

         <wsdl:output message="impl:localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000Response" name="localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000Response">

       </wsdl:output>

         <wsdl:fault message="impl:LayerException" name="LayerException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LocalizarProdutosSoapBinding" type="impl:LocalizarProdutos">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="localizarProdutosPorQuantidadeAcimaDe2UnidadesEPrecoAbaixoDe1000Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="LayerException">

            <wsdlsoap:fault name="LayerException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LocalizarProdutosService">

      <wsdl:port binding="impl:LocalizarProdutosSoapBinding" name="LocalizarProdutos">

         <wsdlsoap:address location="http://localhost:9090/Vendas_3_0/services/LocalizarProdutos"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
